.App {
  text-align: center;
}

.appbarwrapper {
  flex-grow: 1;
}

.temp {
  content: "\00B0"; /* created degree celsius symbol for temperature*/
}

.serchBox {
  display: flex;
  justify-content: center;
}
 
@media only screen and (max-width: 600px) { /* Search box should be at center when screen is small  */
  .serchBox {
    margin-left: -60px;
  }
}